@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Poppins,sans-serif;
}

.nav {
  font-family: "Poppins", sans-serif;
}

.avatar {
  background-image: url(assets/foto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 350px;
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: profile__animate 8s ease-in-out infinite;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}
section h1 {
  color: #2d2e32;
  line-height: 1.1;
  /* margin-bottom: 2rem;
    margin-top: 2rem; */
  font-weight: 500;
}
.section_2 p {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
.projects {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 20px;
}
.projects h2,
p {
  text-align: center;
}
.contact span {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #147efb;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.contact a {
  color: #767676;
  font-size: 18px;
  text-decoration: none;
}
