@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins, sans-serif;
}

.nav {
  font-family: "Poppins", sans-serif;
}
.bg_header {
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
}
.mobal_menu {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.close-menu {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.avatar {
  background-image: url(assets/foto.jpg);
  width: 350px;
   height: 350px;
   animation: profile__animate 8s ease-in-out infinite 1s;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: inset 0 0 0 9px #ffffff4d;
  
}

@keyframes profile__animate {
   0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   }

   50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
   }

   100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   }
}
.skils {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section h1 {
  color: #2d2e32;
  line-height: 1.1;
  /* margin-bottom: 2rem;
    margin-top: 2rem; */
  font-weight: 500;
}
.section_2 p {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
.projects {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.projects h2,
p {
  text-align: center;
}
.contact span {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #147efb;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.contact a {
  color: #767676;
  font-size: 18px;
  text-decoration: none;
}
.box_scrol {
  height: 350px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.scrol_bar {
  transform: translateY(0%);
  transition: 10s ease-in-out 0s;
}
.scrol_bar:hover {
  transform: translateY(-70%);
}
